<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Wine Company</title>    
    <link rel="stylesheet" href='{% static "index.css"%}' type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src='{% static "Images/logo.jpg"%}' alt="Logo">
        </div>
        <ul>
            <li class="item"><a href="">Home</a></li>
            <li class="item"><a href="#form">Form</a></li>
            
            
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary" >A Great Man Deserves A Great Wine </h1>
        <p style="font-size: 30px;">A portal to check the quality of wines. </p>
     </section>

   <section id="form">
        <h2 class="h-primary center"> Fill the details</h2>
        <div id="form-box">
            <form action="/" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for = "alchohol_content">Alcohol Content: </label><br>
                    <input type="Number" name="alchohol_content" id="alchohol_content" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                <div class="form-group" >
                    <label for="malic_acid">Malic Acid: </label><br>
                    <input type="Number" name="malic_acid" id="malic_acid" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                <div class="form-group">
                    <label for="Ash" >Amount of Ash: </label><br>
                    <input type="number" name="Ash" id="Ash" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                <div class="form-group">
                    <label for="alc_ash">Alcoholic Ash: </label><br>
                    <input type="Number" name="alc_ash" id="alc_ash" placeholder="Enter a Number" step="0.01" min="0" max="1000"required="true">
                </div>

                <div class="form-group">
                    <label for="Magnesium">Amount of Magnesium: </label><br>
                    <input type="Number" name="Magnesium" id="Magnesium" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                
                <div class="form-group">
                    <label for="Phenols">Amount of Phenols: </label><br>
                    <input type="Number" name="Phenols" id="Phenols" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                
                <div class="form-group">
                    <label for="Flavanoid">Flavanoid Content: </label><br>
                    <input type="Number" name="Flavanoid" id="Flavanoid" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>     

                <div class="form-group">
                    <label for="NFPhelons">Amount of Non-Flavanoid Phenols: </label><br>
                    <input type="Number" name="NFPhelons" id="NFPhelons" placeholder="Enter a Number" step="0.01" min="0" max="10000" required="true">
                </div>
                
                <div class="form-group">
                    <label for="Cyacnins">Amount of Cyanins: </label><br>
                    <input type="Number" name="Cyacnins" id="Cyacnins" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                
                <div class="form-group">
                    <label for="Intensity">Color Intensity: </label><br>
                    <input type="Number" name="Intensity" id="Intensity" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>                 

                <div class="form-group">
                    <label for="Hue">Hue: </label><br>
                    <input type="Number" name="Hue" id="Hue" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                
                <div class="form-group">
                    <label for="OD280">Amount of OD280: </label><br>
                    <input type="Number" name="OD280" id="OD280" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                
                <div class="form-group">
                    <label for="Proline">Proline Content: </label><br>
                    <input type="Number" name="Proline" id="Proline" placeholder="Enter a Number" step="0.01" min="0" max="1000" required="true">
                </div>
                
		<input class="submit-button" type="submit">
                                  
            </form>
        </div>
    </section>

    
    <footer>
        <div class="center">
           KAJJUBI WILLIAM @Lextech: No Copyright &copy; My Wine ML internship project.
        </div>
    </footer>
</body>

</html>